@font-face {
  font-family: "SuperMario256";
  src: url("SuperMario256.ttf") format("TrueType");
}

@font-face {
  font-family: "Futura";
}

* {
  box-sizing: border-box;
}

* {
  cursor: url(https://cur.cursors-4u.net/games/gam-1/gam16.ani), url(https://cur.cursors-4u.net/games/gam-1/gam16.png), auto !important;
}

body {
  margin: 20px;
  padding: 20px;
  background-image: url("bg.png");
  background-size: auto;
  background-repeat: repeat-y;
  overflow-x: hidden;

}

h1 {
  position: relative;
  font-family: SuperMario256;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  text-align: left;
  color: #000000;
}

p {
  font-family: Futura;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  /* identical to box height */
  text-align: left;
  color: #000000;
}

p style {
  font-family: Futura;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  /* identical to box height */
  text-align: left;
  color: #E52927;
}

audio {
  margin: 20px;
}

.pics {
  border-style: solid;
  outline: solid 5px #F8B800;
  border-width: 5px;
  border-color: #A41400;
  border-radius: 5px;

}

#canvas {
  width: 1920px;
  height: auto;
  margin: 20px auto;
}

#body1 {
  position: absolute;
  width: 393px;
  height: 32px;
  left: 650px;
  top: 90px;
  font-family: Futura;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 48px;
  text-align: center;
  color: #000000;
}

#title {
  position: absolute;
  left: 280px;
  top: 110px;
}

#body2 {
  position: absolute;
  width: 393px;
  height: 32px;
  left: 650px;
  top: 350px;
  font-family: Futura;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  /* identical to box height */
  text-align: center;
  color: #000000;
}

#body3 {
  position: absolute;
  width: 393px;
  height: 32px;
  left: 650px;
  top: 770px;
  font-family: Futura;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 10px;
  /* identical to box height */
  text-align: center;
  color: #000000;
}

#header1 {
  position: absolute;
  width: 941px;
  height: 71px;
  left: 385px;
  top: 880px;
  font-family: SuperMario256;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #000000;
}

#body4 {
  position: absolute;
  width: 750px;
  height: 32px;
  left: 500px;
  top: 950px;
  font-family: Futura;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  /* identical to box height */
  text-align: left;
  color: #000000;
}

#backtotop {
  position: relative;
  left: 700px;
  font-family: SuperMario256;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  float: center;
  color: #000000;
}

#back {
  position: relative;
  left: 300px;
  font-family: SuperMario256;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  float: center;
  color: #000000;
}

.mySlides {
  position: absolute;
  width: 1280px;
  height: 480px;
  left: 450px;
  top: 1200px;
  display: none;
  padding-bottom: 50px;

}

article {
  position: relative;
  left: 400px;
  float: center;
  padding: 20px;
  width: 40%;
  height: auto;
}

section::after {
  content: "";
  display: table;
  clear: both;
}

@media (max-width: 600px) {

  section,
  article {
    width: 100%;
    height: auto;
  }
}

button {
  background-color: #E52927;
  border: 0px;
  padding: 5px 10px;
  margin: 10px;
  color: white;
  border-radius: 12px;
  opacity: 0.6;
  transition: 0.3s;
}

button:hover {
  opacity: 1;
}

.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  position: absolute;
  left: 640px;
  top: 350px;
  width: 35%;
  height: auto;
}

.overlay {
  position: absolute;
  left: 640px;
  top: 350px;
  width: 35%;
  height: auto;
  opacity: 0;
  transition: .5s ease;
}

.container:hover .overlay {
  opacity: 1;
}

#element-intro {
  font-family: Futura;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  /* identical to box height */
  text-align: left;
  color: #E52927;
}

#replaceText-intro {
  position: relative;
  z-index: 999;
  font-size: 10px;
}

#element-1 {
  font-family: Futura;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  /* identical to box height */
  text-align: left;
  color: #E52927;
}

#replaceText-1 {
  position: relative;
  z-index: 999;
  font-size: 10px;
}

#element-2 {
  font-family: Futura;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  /* identical to box height */
  text-align: left;
  color: #E52927;
}

#replaceText-2 {
  position: relative;
  z-index: 999;
  font-size: 10px;
}

#element-3 {
  font-family: Futura;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  /* identical to box height */
  text-align: left;
  color: #E52927;
}

#replaceText-3 {
  position: relative;
  z-index: 999;
  font-size: 10px;
}

#element-4 {
  font-family: Futura;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  /* identical to box height */
  text-align: left;
  color: #E52927;
}

#replaceText-4 {
  position: relative;
  z-index: 999;
  font-size: 10px;
}

#element-5 {
  font-family: Futura;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  /* identical to box height */
  text-align: left;
  color: #E52927;
}

#replaceText-5 {
  position: relative;
  z-index: 999;
  font-size: 10px;
}

#element-6 {
  font-family: Futura;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  /* identical to box height */
  text-align: left;
  color: #E52927;
}

#replaceText-6 {
  position: relative;
  z-index: 999;
  font-size: 10px;
}
